@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal .ant-modal-content {
  padding: 24px 12px !important; /* Ghi đè toàn bộ */
}

.custom-modal .ant-btn-color-primary {
  background-color: red !important;
  padding-left: 12px;
  padding-right: 12px;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: white !important;
}


